footer span.copyright {
  line-height: 20px;
}

p.mission {
  font-size: 25px;
}

.timeline > li .timeline-image .js-logo {
  background-color: #fed136;
}

@media (min-width: 1024px) {
  .team-member .role {
    margin-top: 75px;
  }
}

section h2.as-subheading {
  margin-bottom: 75px;
}

.modal-body h2 {
  text-transform: none;
}

.portfolio-modal .modal-content .modal-body .modal-details {
  text-align: left;
}

header {
  background-image: url('../img/logo.png');
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: #333;
  }
  header {
    padding-top: 350px;
    padding-bottom: 350px;
  }
}

@media (max-width: 768px) {
  header {
    padding-top: 550px;
    background-image: url('../img/logo-small.png');
  }
}

@media (min-width: 2560px) {
  header {
    padding-top: 750px;
    padding-bottom: 750px;
  }
}

