footer span.copyright {
  line-height: 20px;
}

p.mission {
  font-size: 25px;
}

.timeline > li .timeline-image .js-logo {
  background-color: #fed136;
}

@media (min-width: 1024px) {
  .team-member .role {
    margin-top: 75px;
  }
}

section h2.as-subheading {
  margin-bottom: 75px;
}

.modal-body h2 {
  text-transform: none;
}

.portfolio-modal .modal-content .modal-body .modal-details {
  text-align: left;
}
