footer span.copyright {
  line-height: 20px;
}

p.mission {
  font-size: 25px;
}

.timeline > li .timeline-image .js-logo {
  background-color: #fed136;
}

@media (min-width: 1024px) {
  .team-member .role {
    margin-top: 75px;
  }
}

section h2.as-subheading {
  margin-bottom: 75px;
}

.modal-body h2 {
  text-transform: none;
}

.portfolio-modal .modal-content .modal-body .modal-details {
  text-align: left;
}

header {
  background-image: url('../img/logo.png');
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: #333;
  }
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 350px;
  }
}

@media (max-width: 768px) {
  header .intro-text {
    padding-top: 200px;
    padding-bottom: 150px;
  }
}
